.breadcrumbs {
  display: flex;
&  p {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
}
&  a {
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: $color-blue;
  margin-right:2.5em;
  position: relative;
  &:after {
    content: ">";
    position: absolute;
    right: -1.4em;
    color: $color-blue;
    width: 0.325em;
    height: 0.325em;
  }
}
}