$color-main: #FFFFFF;
$color-blue: #6BB3E3;
$color-blue2: #E1F3FF;
$color-yellow: #f0d835;
$main-font-color:#2B2A29;
$shadow: 0px 0px .5em rgb(32 43 72 / 15%);
$shadow2: 0px -.5em .5em rgb(255 255 255);
$radius: 30px;
$radius2: 20px;
